# Dependencies
node_modules/
vendor/

# Build
.next/
dist/
build/

# Laravel
bootstrap/cache/*.php
storage/*.key
storage/logs/*
storage/framework/*
public/build

# Env
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log